<!DOCTYPE html>
<html lang="ko">

<head>
    <title>UPLOAD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet"
          href="/static/SS.css">-->
    <style>
        @import url('https://fonts.googleapis.com/css?family=Girassol&display=swap');

        body {
            background-color: #cfd8dc;
        }

        input {
            position: relative;
            background-color: #cfd8dc;
            color: #37474f;
            border-color: #37474f;
        }

        button {
            background-color: #37474f;
            color: #ffffff;
            width: 70px;
            height: 30px;
        }
    </style>
</head>


<body>
    <header>
        <img src="{{ url_for('static', filename='header.png')}}">
    </header>
    <br>
    <form action="http://{{host}}:{{port}}/uploader" method="post"
          enctype="multipart/form-data">

        <label style="color:#37474f; font-family: 'Nanum Myeongjo', serif;">파일을 업로드하시면 진단 결과를 확인하실 수 있습니다.</label> <br /><br />
        <input type="file" value="파일선택" name="file" />

        <input type="submit" />
        <br><br>

        <input type="button" value="LOGOUT"
               onclick="removeCheck()" />

    </form>
    <script>

        function removeCheck() {

            if (confirm("로그아웃 하시겠습니까??") == true) {    //확인

                return location.href = '{{ url_for('login')}}';

            } else {   //취소

                return false;

            }

        }

    </script>
</body>
</html>